wazuh/certs/kibana_http/cert.pem
wazuh/certs/kibana_http/key.pem
wazuh/certs/odfe_cluster/admin-key-temp.pem
wazuh/certs/odfe_cluster/admin-key.pem
wazuh/certs/odfe_cluster/admin.csr
wazuh/certs/odfe_cluster/filebeat.csr
wazuh/certs/odfe_cluster/filebeat-key.pem
wazuh/certs/odfe_cluster/filebeat-key-temp.pem
wazuh/certs/odfe_cluster/admin.pem
wazuh/certs/odfe_cluster/kibana-key.pem
wazuh/certs/odfe_cluster/kibana.csr
wazuh/certs/odfe_cluster/kibana-key-temp.pem
wazuh/certs/odfe_cluster/filebeat.pem
wazuh/certs/odfe_cluster/root-ca.srl
wazuh/certs/odfe_cluster/root-ca.pem
wazuh/certs/odfe_cluster/root-ca-key.pem
wazuh/certs/odfe_cluster/node.pem
wazuh/certs/odfe_cluster/node.csr
wazuh/certs/odfe_cluster/node-key.pem
wazuh/certs/odfe_cluster/node-key-temp.pem
wazuh/certs/odfe_cluster/kibana.pem
